<div class="beyazlik" id="beyazlik">
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_tmnc73b6.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
    <h1>Yükleniyor...</h1>
</div>