<nav class="navbar">
    <span class="baslik-ul">
        <a href="">
            <h1><%=title%></h1>
        </a>
    </span>
    <ul class="nav-ul">
        <li class="nav-li">
            <a href="/">
                <i class="fa-solid fa-house"></i>
                Anasayfa
            </a>
        </li>
        <li class="nav-li">
            <a href="/giris-yap">
                <i class="fa-solid fa-right-to-bracket"></i>
                Giriş Yap
            </a>
        </li>
        <li class="nav-li">
            <a href="/kayit-ol">
                <i class="fa-solid fa-file-pen"></i>
                Kayıt Ol
            </a>
        </li>
    </ul>
</nav>