<!DOCTYPE html>
<html lang="tr-TR">
    <head>
        <%- include('src/head') %>
    </head>
    <body>
        <%- include('src/navbar') %>
        <script src="https://kit.fontawesome.com/814bf03a7c.js" crossorigin="anonymous"></script>
        <script src="index.js"></script>
    </body>
</html>
